.header {
    position: fixed;
    display: flex;
    align-items: flex-end;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    width: 100%;
    background: #048C4E;
    color: white;
    font: 1em sans-serif;
}

 .logo {
    max-height: 60px;
}

.header .title {
     padding-left: 10px;
}
 
.header a {
     display: flex;
     align-items: center;
     text-decoration: none;
}


