<mat-sidenav class="sidenav" 
            mode="side" 
            opened viewport="fixed" 
            fixedTopGap="top" 
            fixedBottomGap="bottom">

    <mat-nav-list class="nav-list">
        <a routerLink="/">
            <i class="material-icons">
                home
            </i>
            Início
        </a>
        <br>
        <a routerLink="cursos">
            <i class="material-icons">
                school
            </i>
            Cursos
        </a>
        <br>
        <a routerLink="alunos">
            <i class="material-icons">
                people
            </i>
            Alunos
        </a>
    </mat-nav-list>
    
</mat-sidenav>