<div class="content">
    <mat-card-title>Alunos</mat-card-title>
    <mat-card-subtitle><br>Cadastrar Aluno</mat-card-subtitle>
    <mat-divider></mat-divider>
    <br>
    <div class="input1">
        <mat-form-field appearance="outline">
            <mat-label>Nome do Aluno</mat-label>
            <input matInput placeholder="Digite o nome do aluno" id="nome"
            required [(ngModel)]="aluno.nome" name="nome">
            <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field>
    </div>
    <div class="input2">
        <mat-form-field appearance="outline">
            <mat-label>Sexo</mat-label>
            <select matNativeControl required id="nomealuno"
            [(ngModel)]="aluno.sexo" name="sexo">
                <option value="masculino">Masculino</option>
                <option value="feminino">Feminino</option>
            </select>
        </mat-form-field>
    </div>
    <div class="input3">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Data de nascimento</mat-label>
            <input matInput [matDatepicker]="picker" id="dt_nasc"
            [(ngModel)]="aluno.dt_nasc" name="dt_nasc">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="button">
        <span class="bt" (click)="salvar()">
            <img class="img-btn" src="assets/img/check_box.png">Salvar
        </span>
        <span class="bt" (click)="cancelar()">
            <img class="img-btn" src="assets/img/cancel.png">Cancelar
        </span>
    </div>
</div>
